/* Main code of round photo was taken from Love Running project,
but it was rewritten and adapted to my needs */

.all-band-members {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    padding-bottom: 50px;
}

.natalia {
    display: flex;
    width: 80%;
}

.circle-photo-container-natalia {
    width: 30%;
    height: 420px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 25%;
    margin: 20px 40px 40px 40px;
    background-color: rgba(150, 150, 150, .6);
    /* float: left; */
}

/* .circle-photo-natalia {
    background: url(../images/natalia.jpg) no-repeat;
    max-width: 100%;
    height: 100%;
    border-radius: 25%;
    background-size: cover;
} */

.natalia-responsive {
    max-width: 100%;
    height: fit-content;
    border-radius: 25%;
}

#natalia-story {
    width: 70%;
    margin: 20px 20px;
    background-color: rgba(150, 150, 150, .6);
    text-align: center;
    border-radius: 10%;
}

.lena {
    display: flex;
    width: 80%;
}

.circle-photo-container-lena {
    width: 30%;
    height: 400px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 25%;
    margin: 50px 40px;
    background-color: rgba(150, 150, 150, .6);
    /* float: right; */
}

.circle-photo-lena {
    background: url(../images/Lena.jpg) no-repeat;
    height: 100%;
    border-radius: 25%;
    background-size: cover;
}

#lena-story {
    width: 70%;
    /* height: 400px; */
    margin: 20px 20px;
    background-color: rgba(150, 150, 150, .6);
    /* float: left; */
    text-align: center;
    border-radius: 10%;
}

.gena {
    display: flex;
    width: 80%;
}

.circle-photo-container-gena {
    width: 30%;
    height: 400px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 25%;
    margin: 50px 40px;
    background-color: rgba(150, 150, 150, .6);
    /* float: left; */
}

.circle-photo-gena {
    background: url(../images/Gena.jpg) no-repeat;
    height: 100%;
    border-radius: 25%;
    background-size: cover;
}

#gena-story {
    width: 70%;
    /* height: 400px; */
    margin: 20px 20px;
    background-color: rgba(150, 150, 150, .6);
    /* float: right; */
    text-align: center;
    border-radius: 10%;
}

.member-name {
    font-family: "Berkshire Swash", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    color: rgb(255, 183, 0);
    padding: 10px 40px;
}

#natalia-description li {
    font-family: "Berkshire Swash", sans-serif;
    font-size: 18px;
    display: inline-block;
    text-align: left;
    padding: 10px 40px;
    color: rgb(255, 183, 0);
    text-decoration: underline;
}

.role-in-the-band {
    font-style: italic;
    color: white;
    font-size: 24px;
    padding: 10px 40px;
    font-family: "Lobster Two", sans-serif;
    letter-spacing: 4px;
}

#natalia-description span {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Berkshire Swash", sans-serif;
}

.social-media-links a {
    color: rgb(255, 183, 0);
}

@media screen and (max-width: 800px) {

   .natalia {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .natalia-responsive {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
}

}