/* Main code of round photo was taken from Love Running project,
but it was rewritten and adapted to my needs */

.all-band-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-bottom: 50px;
}

.responsive {
    width: 100%;
    max-height: 400px;
    border-radius: 25%;
}

.natalia {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.circle-photo-natalia {
    width: 300px;
    height: 100%;
    border-radius: 25%;
    margin: 0 40px;
    border: 2px solid white;
}

#natalia-story {
    width: 90%;
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: rgba(150, 150, 150, .6);
    text-align: center;
    border-radius: 10%;
}

.lena {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.lena-image {
    height: 350px;
}

.circle-photo-lena {
    width: 300px;
    height: 350px;
    border-radius: 25%;
    margin: 0 40px;
    border: 2px solid white;
}

#lena-story {
    width: 90%;
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: rgba(150, 150, 150, .6);
    text-align: center;
    border-radius: 10%;
}

.gena {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.circle-photo-gena {
    width: 300px;
    height: 100%;
    border-radius: 25%;
    margin: 0 40px;
    border: 2px solid white;
}

#gena-story {
    width: 90%;
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: rgba(150, 150, 150, .6);
    text-align: center;
    border-radius: 10%;
}

.member-name {
    font-family: "Berkshire Swash", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    color: rgb(255, 183, 0);
    padding: 0 40px;
}

.member-description {
    text-align: left;
    margin-top: -20px;
    padding-bottom: 20px;
}

.member-description li {
    font-family: "Berkshire Swash", sans-serif;
    font-size: 18px;
    display: inline-block;
    text-align: left;
    padding: 10px 20px;
    color: rgb(255, 183, 0);
    text-decoration: underline;
}

.role-in-the-band {
    font-style: italic;
    color: white;
    font-size: 24px;
    padding: 0 40px;
    font-family: "Lobster Two", sans-serif;
    letter-spacing: 4px;
}

.social-media-links {
    padding: 10px;
}

.member-description span {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Berkshire Swash", sans-serif;
    margin: 0 -30px;
}

.social-media-links a {
    color: rgb(255, 183, 0);
}

@media screen and (max-width: 1100px) {

    .natalia {
        display: flex;
        flex-direction: row;
        align-items: center;
}

.responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 25%;
}

.circle-photo-lena, .lena-image{
    height: 350px;
}

.member-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-description span {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

}


@media screen and (max-width: 800px) {

    .natalia {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }

    .lena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .gena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
 
    .responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 400px;
    border-radius: 25%;
 }

 .lena-image, .circle-photo-lena {
    height: 400px;
 }
 
 }

 /* Old code */

 /* 
 
   .circle-photo-container-natalia {
    width: 30%;
    height: 420px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 25%;
    margin: 20px 40px 40px 40px;
    background-color: rgba(150, 150, 150, .6);
} 

   .circle-photo-natalia {
    background: url(../images/natalia.jpg) no-repeat;
    max-width: 100%;
    height: 100%;
    border-radius: 25%;
    background-size: cover;
}

   .circle-photo-container-lena {
    width: 30%;
    height: 400px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 25%;
    margin: 50px 40px;
    background-color: rgba(150, 150, 150, .6);
    float: right;
} 

.circle-photo-container-gena {
    width: 30%;
    height: 400px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 25%;
    margin: 50px 40px;
    background-color: rgba(150, 150, 150, .6);
    float: left;
}


*/