.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    z-index: 1;
}

.dropdown_menu a {
color: white;
padding: 10px 50px;
text-decoration: none;
display: block;
}

.dropdown_menu a:hover {
    background-color: black;
}

.dropdown:hover .dropdown_menu {
display: flex;
}