#news1 {
    width: 60%;
    color: aliceblue;
    background-color: rgba(150, 150, 150, .6);
    font-size: larger;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: justify;
}


#news2 {
    width: 60%;
    color: aliceblue;
    background-color: rgba(150, 150, 150, .6);
    font-size: larger;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: justify;
}