.shows_container {
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    padding: 0 2%;
    box-sizing: border-box;
}

div {
    display: block;
}

ul.concerts {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    display: block;
}

ul.concerts li {
    padding: 35px 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid rgb(199, 199, 199);
    border-width: 1px 0;
    background-color: rgba(150, 150, 150, .6);
}

ul.concerts span {
    padding-right: 50px;
    font-family: "Berkshire Swash", sans-serif;
    font-size: 18px;
}

ul.concerts .event_link {
    margin: -15px -15px -15px auto;
}

ul.concerts a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: rgb(138, 92, 24);
    border: solid 1px darkgray;
    color: aliceblue;
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: rgb(65, 40, 3);
    color: aliceblue;
    box-shadow: 5px 5px 5px rgb(65, 58, 58);
}

span a:hover {
    border-top: solid 2px rgb(199, 199, 199);
    border-bottom: solid 2px rgb(199, 199, 199);
    text-shadow: 2px 2px 4px black;
}