@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url(/assets/images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#social_links {
    list-style-type: none;
    padding: 10px;
    padding-left: 20px;
    background-color: black;
    border-bottom: 1px solid white;
}

#social_links a {
    color: aliceblue;
}

#logo {
    width: 100%;
    height: 150px;
    position: relative;
    padding: 0;
    margin: 0;
}

#lofa_logo {
    height: 150px;
    position: relative;
    left: 50%;
    padding-bottom: 0;
    overflow: hidden;
    transform: translate(-50%);

}

#menu a {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}

#menu_form {
    background-color: black;
    width: 100%;
    height: 50px;
    position: relative;
}

#menu {
    font-family: "Berkshire Swash", sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 140%;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #menu_form #menu {
    display: inline;
    left: 30%;
    position: relative;
    transform: translate(-50%, -50%);
    color: aliceblue; 
} */

li {
    text-align: center;
    display: inline;
    margin-right: 30px;
    color: aliceblue;
}

.main_header {
    text-align: center;
    background-color: rgba(150, 150, 150, .6);
    color: aliceblue;
    font-size: 36px;
    padding: 20px;
}

footer .rights {
    text-align: center;
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
}

.rights {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: unset;
}

footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
}