@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url(../images/background3.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Header and navigation */

#social_links {
    list-style-type: none;
    padding: 10px;
    padding-left: 20px;
    background-color: black;
    border-bottom: 1px solid white;
}

#social_links a {
    color: aliceblue;
}

#logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
}

#lofa_logo {
    height: 150px;
    padding-bottom: 0;
    overflow: hidden;
}

#menu_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 50px;
}

li {
    text-align: center;
    display: inline;
    margin-right: 30px;
    color: aliceblue;
}

/* Main page */

#heading_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(150, 150, 150, .6);
    z-index: -1;
}

#heading_box .main_header {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding: 20px;
}

.main_header_smaller {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding: 20px;
}

.text_inside_blocks {
    font-family: "Lobster Two", sans-serif;
    font-size: 24px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
    background-color: rgba(150, 150, 150, .6);
}

#links_left {
    padding-top: 50px;
    padding-left: 30px;
    width: 30%;
    float: left;
}

#news_block {
    background: url(../images/news1.jpg) no-repeat center center;
    background-size: 600px 200px;
    width: 100%;
    height: 200px;
    color: aliceblue;
    margin-bottom: 50px;
    border: 2px solid white;
}


.block-white-shadow:hover {
    box-shadow: 0 10px 30px rgba(255, 255, 255, 1);
  }


#music_block {
    background: url(../images/music1.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
    color:aliceblue;
    border: 2px solid white;
}

#links_right {
    padding-top: 50px;
    padding-right: 30px;
    width: 30%;
    float: right;
}

#band_block {
    background: url(../images/LofAcrop.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
    color:aliceblue;
    margin-bottom: 50px;
    border: 2px solid white;
}

#shows_block {
    background: url(../images/show1.jpg) no-repeat center center;
    background-size: 600px 200px;
    height: 200px;
    color:aliceblue;
    border: 2px solid white;
}

#links_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 125px auto;
}

#gallery_block_center {
    width: 400px;
    height: 275px;
    background: url(../images/LofAgallery.jpg) no-repeat center center;
    background-size: cover;
    color:aliceblue;
    margin: 0 auto;
    border: 2px solid white;
}

/* Footer */

footer .rights {
    text-align: center;
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
}

.rights {
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset;
}

footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
}

/* Music page css */

.music-widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.soundcloud {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 1000px;
    width: 100%;
}

.spotify {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.iTunes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.youtube {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

/*News page */

.news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.news {
    width: 60%;
    color: aliceblue;
    background-color: rgba(150, 150, 150, .6);
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
}

/* Band story */

.band-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.pre_story, .main_story {
    width: 60%;
    color: aliceblue;
    background-color: rgba(150, 150, 150, .6);
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
}

.pre_story p {
text-align: justify;
font-family: 'Times New Roman', Times, serif;
}

.main_story p {
text-align: justify;
font-family: 'Times New Roman', Times, serif;
}

/* Gallery. Code was taken from
https://www.w3schools.com/css/css_image_gallery.asp and adapted for my webpage  */

/* .band-gallery { */
    /* padding-bottom: 50px; */
/* } */

.band-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery {
    margin: 40px auto;
    margin-left: 40px;
}

div.gallery {
    border: solid 1px rgb(2, 2, 2);
    width: 200px;
    height: 100%;
    display: inline-block;
    align-items: center;
}

div.gallery:hover {
    border: solid 1px rgb(150, 150, 150);
}

div.gallery img {
    width: 100%;
    height: auto;
}

/* contact page and form */

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.email-feedback-form {
    margin-top: 25px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(150, 150, 150, .6);
    max-width: 500px;
    padding: 25px;
    font-family: "Berkshire Swash", sans-serif;
    font-size: 18px;
}

.email-form h3 {
text-align: center;
margin-bottom: 20px;
}

.social-media-container h3 {
    text-align: center;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
}

.email-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
}

.message-input {
    background: transparent;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
}

::placeholder {
    color: lightgray;
}

.text-input:hover, .email-input:hover, .message-input:hover {
    border-color: rgb(255, 183, 0);
} 

.send-button {
    background-color: rgb(138, 92, 24);
    border: solid 1px darkgray;
    color: aliceblue;
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    transition-duration: 0.5s;
}

.send-button:hover {
    background-color: rgb(65, 40, 3);
    color: aliceblue;
    box-shadow: 5px 5px 5px rgb(65, 58, 58);
}

.reset-button {
    background-color: rgb(138, 92, 24);
    border: solid 1px darkgray;
    color: aliceblue;
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    transition-duration: 0.5s;
}

.reset-button:hover {
    background-color: rgb(65, 40, 3);
    color: aliceblue;
    box-shadow: 5px 5px 5px rgb(65, 58, 58);
}

.social-media-container {
    background-color: rgb(150, 150, 150, .6);
    text-align: center;
    font-family: "Berkshire Swash", sans-serif;
    max-width: 500px;
    color: aliceblue;
    padding: 20px 105px;
    margin-bottom: 50px;
}

.social-media a {
    color: aliceblue;
}

#social-media-links a {
    color: aliceblue;
}

/* Responsive design */

@media screen and (max-width: 1100px) {

    .music-widgets {
        margin: 0 20px;
    }

    .welcome-text {
        font-size: 2.3rem;
    }
   
}

@media screen and (max-width: 850px) {

    .welcome-text {
        font-size: 2rem;
    }
    
    .news {
        width: 80%;
    }

    .pre_story, .main_story {
        width: 80%;
    }
}

/* Code for navigation bar menu to make it responsive was taken from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ */

/* Menu */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 140%;
    text-transform: uppercase;
    font-family: "Berkshire Swash", sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.menu li:hover {
background-color: rgb(51, 51, 51);
transition: 0.3s ease;
border-top: 2px solid white;
border-bottom: 2px solid white;
border-radius: 5px;
}

.menu li {
    margin-right: 30px;
    padding: 5px;
}

.band {
    position: relative;
}

.band-dropdown {
    padding: 0.5em 0;
    position: absolute;
    display: none;
    z-index: 1;
    border-radius: 8px;
    background-color: black;
    top: 40px;
    width: 8em;
}

.band-dropdown li + li {
    margin-top: 10px;
    margin: 1em 0;
}

.band-dropdown li {
    padding: 0 0.5em;
    text-align: center;
    margin: 1em 0;
}

.band:hover .band-dropdown {
    display: block;
    background-color: rgb(51, 51, 51);
}

input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 1100px) {
    .menu {
        display: none;
        position: absolute;
        background-color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 15px 0;
        font-size: 18px;
        align-items: center;
    }

    .menu li:hover {
        display: inline-block;
        background-color: rgb(51, 51, 51);
        transition: 0.3s ease;
        padding: 0 20px;
    }

    .menu li + li {
        margin-top: 15px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .band-dropdown {
        left: 50%;
        top: 25px;
        transform: translateX(35%);
    }

    .band-dropdown li:hover{
        background-color: rgb(51, 51, 51);
    }
}